package-lock.json
node_modules/
debug/itunes_login_**.json
.chrome-profile/
chrome-profile-tmp/


.DS_Store
.cache
.vscode
.idea

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

# IDEA
*.iml
*.ipr
*.iws
.idea/

.env.development.local
.env.production.local
.env.test.local

.env.local
.env.prod
.env.test
.env